.section-features{
    background-image: linear-gradient(to right bottom ,#7ed56fad, #28b485c9),url('../img/newFolder/nature1.jpg');
    background-size: cover;
    padding: 20rem;
    transform: skewY(-7deg);
    & > *{
        transform: skewY(7deg);
    }
}

.features-box{
    font-size: 1.5rem;
    background-color: rgba(white, .8);
    padding: 3rem;
    box-shadow: 0 1.5rem 3rem rgba($black, .5);
    border-radius: 3px;
    transition: transform .3s;
    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right , $lightGreenColor ,$darkGreenColor);
        color: transparent;
     
         -webkit-background-clip: text;
    }
    &:hover{
        transform: translateY(-2rem) scale(1.3);
        
    }
}