.header{
    background-image: linear-gradient(to right bottom ,#7ed56f79, #28b4858f),url('../img/newFolder/headerBackgroundImg.jpeg');
    background-repeat: no-repeat;
    height: 95vh;
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0,  100% 0 ,  100% 75vh ,  0 100% );
    position: relative;
    &__logo img{
        height: 9rem;
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__content{
        text-align: center;
        color: $white;
        position: absolute;
        left:50%;
        top: 40%;
        transform: translateX(-50%) translateY(-50%);
        & h4 {
            text-transform: uppercase;
            font-size: 6.5rem;
            letter-spacing: 3rem;
            animation: moveFromLeft .7s ease-out;
            transition: all .3s;
        }
        & span {
            display: block;
            font-size: 2.5rem;
            letter-spacing: 1.5rem;
            margin-bottom: 3rem;
            text-transform: uppercase;
            animation: moveFromRight .7s ease-out;
            transition: all .3s;
        }
    }
}
