//for overflow hidden
@mixin clearfix {
    &::after,
    &::before{
        content: "";
        display: table;
        clear: both;
    }
}

//for position center
@mixin positionCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

// responsive manager;
/*
0-600px : phone
600-900: tablet portrait
900-1200: tablet landscape
[1200-1800 : is where our normal css apply]
1800 + : big desktop
*/

/*
$breakpoint argument choices:
-phone
-tabPort
-tabLand
-bigDesktop
1 em = 16px
*/

@mixin forRes($breakpoint){
    @if $breakpoint == phone{
        @media(max-width: 37.5em){@content}; // 600px
    }
    @if $breakpoint == tabPort{
        @media(max-width: 56.25em){@content}; // 900px
    }
    @if $breakpoint == tabLand{
        @media(max-width: 75em){@content}; // 1200px
    }
   
    @if $breakpoint == bigDesktop{
        @media(min-width: 112.5em){@content}; // 1800px
    }
}

/* call:
go to css selector and follow this path 
@include forRes(phone){css style;} */