//colors
$lightGreenColor: #7ed56f;
$mediumGreenColor: #55c57a;
$darkGreenColor: #28b485;
$black: black;
$white: #fff;
$gray: #ddd;
$grayBlack: #777;

// grid

$row-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//card colors

$lightOrange: rgb(241, 200, 123);
$darkOrange: rgb(231, 153, 7);
$lightBlue: rgb(122, 122, 245);
$darkBlue: blue;